<div id="pokedex">
  <div *ngFor="let pokemon of pokemons" class="pokemons-container">
    <div>
      <div class="pokemons-title">
        <p class="pokemon-position">{{pokemon.position}}</p>
        <h2 class="pokemon-name" [routerLink]="['/pokemon', pokemon.position]">{{pokemon.name}}</h2>
      </div>
      <div class="img-container">
        <img [src]="pokemon.image" [alt]="pokemon.name" [routerLink]="['/pokemon', pokemon.position]">
      </div>
    </div>
    <div>
      <div class="pokemons-types" *ngIf="pokemon.types.length === 2">
        <p class="types">{{pokemon.types[0].type.name}}</p>
        <p class="types">{{pokemon.types[1].type.name}}</p>
      </div>
      <div class="pokemons-types" *ngIf="pokemon.types.length === 1">
        <p class="types">{{pokemon.types[0].type.name}}</p>
      </div>
    </div>
  </div>
</div>
