$maincolor     : #d14830;
$blackcolor    : #000000;
$whitecolor    : #FFFFFF;
$secondarycolor: #FFFF00;
$steel         : #CCCCCC;
$water         : #B0E2FF;
$bug           : #99CC33;
$dragon        : #AB82FF;
$electric      : #FFD700;
$ghost         : #778899;
$fire          : #FF7F00;
$fairy         : #FFB0FF;
$ice           : #ADD8E6;
$fighting      : #FF6A6A;
$normal        : #DDCCAA;
$grass         : #99FF66;
$psychic       : #FFB5C5;
$rock          : #CD853F;
$sinister      : #A9A9A9;
$ground        : #DEB887;
$poison        : #CC88BB;
$flying        : #BAAAFF;
